Options +FollowSymlinks

php_value date.timezone Europe/Oslo

DirectoryIndex index.php

RewriteEngine on 
RewriteCond	%{REQUEST_FILENAME}	!-f
RewriteCond	%{REQUEST_FILENAME}	!-d
RewriteCond	$1	!^(index\.php|robots\.txt|favicon\.ico|Sitemap\.xml)
RewriteRule	^(.*)$	index.php/$1 [L] 

# MIME types for Video
AddType video/mp4 mp4 m4v f4v f4p
AddType video/ogg ogv
AddType video/webm webm
AddType video/x-flv flv

php_value post_max_size 2000M
php_value upload_max_filesize 2500M
php_value max_execution_time 6000000
php_value max_input_time 6000000
php_value memory_limit 2500M